@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Press+Start+2P&display=swap");
body html {
  margin: 0px;
  height: 100%;
  width: fit-content;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-page {
  position: relative;
}
.page {
  width: 100%;
  height: 100%;
  box-shadow: #0e101e;
  background-image: linear-gradient(0deg, #111827, #080a16);
}
@media (min-width: 600px) {
  .content {
    display: flex;
    padding-left: 10%;
    align-items: center;
    min-height: 100vh;
  }
}
.content-data {
  position: absolute;
  top: 36%;
}
.content-data > .heading {
  color: #ffffff;
  font-size: 40px;
  font-family: "Kalam", cursive;
}
.subHeading {
  color: rgb(144, 144, 133);
}
.subHeading > .content-sub-heading > a {
  color: rgb(144, 144, 133) !important;
}
.subHeading .content-sub-heading {
  font-weight: bolder;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
}
@media (max-width: 600px) {
  .content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }
  .content-data > h1 {
    font-size: 30px;
  }
  .subHeading h3 {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    line-height: 2;
  }
}

.social {
  display: flex;
  width: 250px;
  /* background-color: #ffffff; */
  height: inherit;
  margin-top: 15px;
  border-radius: 10px;
  height: 50px;
  margin-left: -14px;
}
@media (max-width: 600px) {
  .social {
    margin-left: 0;
  }
}
.network {
  width: 25%;
  height: inherit;
  text-align: center;
  border-radius: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
.network > a > img {
  width: 80%;
  height: inherit;
  -webkit-animation: breeze 2s infinite alternate ease-in-out;
}
@-webkit-keyframes breeze {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.4em);
  }
}
.telegram {
  width: 90% !important;
}
