@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Press+Start+2P&display=swap");
body html {
  margin: 0px;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0e101e;
  overflow: hidden;
  display: flex;
}
.content {
  margin: 60px;
  margin-top: 200px;
}
.heading > h1 {
  color: #ffffff;
  font-size: 50px;
  font-family: "Kalam", cursive;
}
.subHeading {
  color: rgb(144, 144, 133);
}
.subHeading > h3 > a {
  color: rgb(144, 144, 133) !important;
}
.subHeading h3 {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
}
@media (min-width: 350px) {
  .content {
    margin: 40px;
    margin-top: 260px;
  }
  .heading > h1 {
    font-size: 30px;
  }
  .subHeading h3 {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
  }
}
/* moreMenu */
.moreSection {
  position: absolute;
  bottom: 94px;
  right: 7px;
  height: 0;
  width: 73px;
  background-color: rgb(167 167 167 / 8%);
  border-radius: 16px;
}
.section {
  width: 90%;
  height: 30%;
  margin: auto;
  margin-bottom: 22px;
  margin-top: 25px;
}
.section > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.arrowPointer {
  position: absolute;
  bottom: 91px;
  right: 4px;
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}
.arrowPointer > img {
  width: 70px;
  height: 70px;
}
@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0.4em);
    opacity: 0.9;
  }
}
.moreSection {
  -webkit-animation: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
