.drive-up-list {
	display: flex;
	margin: auto;
	width: auto;
	position: fixed;
	bottom: 0%;
	right: 0%;
	justify-content: space-evenly;
}
.drive-up-list > img {
	-webkit-animation: breeze 2s infinite alternate ease-in-out;
}

.side-nav {
	width: 90px;
	height: 90px;
	border-radius: 100% 0 0 0;
	background-color: #6168706e;
	position: relative;
	cursor: pointer;
	border: 3px #ffffff;
	transition: 0.3s ease; /* Add transition for smooth width change */
}

.side-nav-2 {
	width: 90px;
	height: 90px;
	border-radius: 100% 0 0 0;
	background-color: #6168706e;
	position: absolute;
	cursor: pointer;
	bottom: 0%;
	right: 0%;
}

.side-nav-2 svg {
	position: absolute;
	bottom: 12%;
	right: 18%;
}

.menu-item-1 {
	display: none;
	position: relative;
	top: 66%;
	right: -16%;
}
@-webkit-keyframes breeze {
	0% {
		-webkit-transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0.4em);
	}
}
