html, body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	line-height: 1.6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Source Code Pro', monospace;
	background: linear-gradient(90deg, rgba(45, 107, 206, 0.89), rgba(115, 90, 226, 0.753)),
				url(img/back.png) center bottom;
	background-size: cover;
	color: #fff;
	min-height: 100%;
}
